* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}

.container {
    width: 100%;
    min-height: 100vh;
    padding: 10px;
    background: linear-gradient(172deg, rgba(172,159,238,1) 2%, rgba(22,102,147,1) 100%);}

.todo-app {
    width: 100%;
    max-width: 540px;
    margin: 100px auto;
    padding: 40px 30px;
    background-color: aliceblue;
    border-radius: 15px;
    position: relative;
}

.h2_todo {
    margin-bottom: 20px;
    color: #41456e;
    text-align: center;
}

.todo_name_container {
    position: relative;
}

.todo_name_default {
    position: absolute;
    pointer-events: none;
}

.todo_name {
    cursor: text;
    outline: none;
    margin: 20px 0;
}

.todo_name_style {
    width: 100%;
    font-size: 1.6rem;
    word-wrap: break-word;
}

.todo_point_default {
    position: absolute;
}

.todo_point {
    border: 2px solid black
}

.point {
    border: 1px solid black;
}

.todo_point_style {
    word-wrap: break-word;
}

.close_btn {
    width: 20px;
    height: 20px;
    top: 10px;
    right: 15px;
    position: absolute;
    cursor: pointer;
    border: none;
    background: none;
}

.close_btn:hover {
    background: #bfbfd1;
    opacity: 0.7;
    border-radius: 7px;
}

.note {
    width: 100%;
    max-width: 200px;
    padding: 20px;
    margin: 0 0 20px 20px;
    background-color: white;
    border-radius: 6px;
    cursor: pointer;
    list-style: none;
}
