.card_abs {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100;
}

.card_abs:hover {
  border-radius: 10px;
  box-shadow: 0px 1px 10px -1px #000;
}
  
.card_abs:hover .card__trash__icon {
  opacity: 1;
}

.card__trash__icon {
  opacity: 0;
  position: absolute;
  padding:5px;
  height: 30px;
  width: 30px;
  top: 15px;
  right: 15px;
  z-index: 101;
  stroke: #999;
  border-radius: 50%;
}

.card__trash__icon:hover {
  background: rgba(78, 84, 87, 0.15);
  cursor: pointer;
}
