.card__container {
  position: relative;
  flex: 1 1 200px;
  min-height: 20px;
  max-width: 250px;
  /* min-width: 50px; */
}

.card {
  border: 1px solid #999;
  border-radius: 10px;
  padding: 15px;
  transition: background 200ms ease-out;
}

.card__name {
  width: 190px;
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 700;
  overflow-wrap: break-word;
  word-break: break-all;
}

@media (max-width: 520px) {
  .card__container {
    width: 100%;
    max-width: 100%;
    margin-bottom: 10px;
  }
}