* {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: #fff;
}

body {
  background-color: #252525
}

.container {
  max-width: 1500px;
  padding: 0 30px;
  margin: 0 auto;
}